<div class="login-background">
  <div class="login-container" [ngClass]="{ 'shake': errorMessage }">
    <img src="/UST_logo.png" alt="UST Logo" class="ust-logo-login-center" />
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-title">Sign In</div>
      
      <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required>
      </div>
      
      <div class="form-group">
        <label>Password</label>
        <div class="password-field">
          <input [type]="hidePassword ? 'password' : 'text'" 
                 [(ngModel)]="password" 
                 name="password" 
                 placeholder="Password" 
                 required>
          <button *ngIf="password && password.length > 0" type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>
      
      <div class="form-row-between">
        <div class="remember-me-left">
          <label class="remember-me-label">
            <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"> Remember Me
          </label>
        </div>
        <div class="forgot-link-right">
          <a routerLink="/forgot-password" class="forgot-link">Forgot Password?</a>
        </div>
      </div>
      
      <button type="submit" [disabled]="!loginForm.valid || loading" class="login-btn">
        <ng-container *ngIf="!loading; else loadingTpl">Sign In</ng-container>
        <ng-template #loadingTpl>
          <mat-spinner diameter="22" color="accent" style="vertical-align: middle;"></mat-spinner>
        </ng-template>
      </button>
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <div class="register-link">
        Don't have an account? <a routerLink="/register">Register</a>
      </div>
    </form>
  </div>
</div>


