<div class="landing-container">
  <h1>Welcome to the Data Pipeline Management System</h1>
  <div class="nav-buttons">
    <button mat-raised-button color="primary" routerLink="/data-extraction/source">
      Go to Source Config
    </button>
    <button mat-raised-button color="accent" routerLink="/data-extraction/target">
      Go to Target Config
    </button>
    <button mat-raised-button color="warn" routerLink="/data-extraction/templates">
      Go to Template List
    </button>
  </div>
</div>
