<mat-card>
  <mat-card-header>
    <mat-card-title>Source Configuration</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="sourceForm" (ngSubmit)="saveConfig()">
      <mat-form-field>
        <mat-label>Source Type</mat-label>
        <mat-select formControlName="sourceType">
          <mat-option *ngFor="let type of sourceTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div [ngSwitch]="sourceForm.get('sourceType')?.value">
        <!-- REST API Fields -->
        <div *ngSwitchCase="'REST API'" class="config-section">
          <mat-form-field>
            <input matInput placeholder="API URL" formControlName="apiUrl">
            <mat-error *ngIf="sourceForm.get('apiUrl')?.hasError('required')">
              API URL is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Auth Token" formControlName="authToken">
          </mat-form-field>
        </div>

        <!-- FTP Fields -->
        <div *ngSwitchCase="'FTP'" class="config-section">
          <mat-form-field>
            <input matInput placeholder="FTP Host" formControlName="ftpHost">
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="ftpUser">
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
  </mat-card-content>
</mat-card>
