<mat-card class="source-config-container">
  <mat-card-header>
    <mat-card-title>Source Configuration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="sourceForm" (ngSubmit)="saveConfig()">
      <div class="top-row-equal">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="sourceForm.get('name')?.invalid">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Source Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of sourceTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-row">
        <ng-container [ngSwitch]="sourceForm.get('type')?.value">
          <div *ngSwitchCase="'API'" class="input-row">
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>API Endpoint</mat-label>
              <input matInput formControlName="endpoint" required (input)="onEndpointInput()" (blur)="onEndpointBlur()">
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Auth Token</mat-label>
              <input matInput formControlName="authToken">
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Retries</mat-label>
              <input matInput type="number" formControlName="retries" min="0">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'FTP'" class="input-row">
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>FTP Host</mat-label>
              <input matInput formControlName="ftpHost" required (input)="onFtpHostInput()" (blur)="onFtpHostBlur()">
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>FTP Username</mat-label>
              <input matInput formControlName="ftpUsername">
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>FTP Password</mat-label>
              <input matInput formControlName="ftpPassword" type="password">
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Retries</mat-label>
              <input matInput type="number" formControlName="retries" min="0">
            </mat-form-field>
          </div>
        </ng-container>
      </div>
      <div style="margin-top: 24px; display: flex; justify-content: flex-end;">
        <button mat-raised-button color="primary" type="submit" [disabled]="sourceForm.invalid" class="source-config-save-btn">
          Save Source Config
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>