destination:
  csv:
    output_path: data/output.csv
    write_mode: overwrite
  database:
    auto_create_table: true
    enabled: true
    handle_conflicts: true
    table: bye
    type: postgresql
execution:
  time_window:
    enabled: false
secrets: []
source:
  ftp:
    file_types:
    - .csv
    - .json
    - .parquet
    host: kl
    local_dir: ftp_downloads
    password: ''
    remote_dir: /data
    retries: 3
    username: ''
  type: FTP
version: 1.0
